html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.row,
.col,
.tableRow,
.tableColumn {
  display: flex;
}

.row,
.tableRow {
  flex-direction: row;
}

.col,
.tableColumn {
  flex-direction: column;
  align-content: center;
}

#content,
#header,
#footer,
#main {
  position: absolute;
}

#content {
  width: 1000px;
  min-height: 800px;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
}

#header,
#footer {
  width: 100%;
  height: 20%;
  background-color: aliceblue;
}

#header {
  top: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 25px;
  /* border-top: 3px solid black; */
}

#main {
  top: 20%;
  width: 100%;
  min-height: 60%;
  background-color: rgb(5, 55, 99);
  color: white;
  font-size: 14px;
}

#footer {
  top: 80%;
}

#mainWrapper,
#addBankWrapper,
#tableWrapper {
  position: absolute;
}

#mainWrapper {
  width: 100%;
  height: 100%;
}

#addBankWrapper,
#tableWrapper {
  width: 100%;
}

#addBankWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  top: 0;
  /* border-top: 3px solid rgb(5, 5, 5); */
}

#tableWrapper {
  top: 15%;
  height: 70%;
  overflow: auto;
}

#table {
  height: 80%;
  color: white;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* align horizontal */
  box-shadow: inset 0 0 6px black;
  border: 1px solid black;
}

.titleText,
.inpText {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.titleText {
  height: 90%;
  text-align: center;
}

#addNameBank,
#addInterestRate,
#addMaxLoan,
#addMinDownPayment,
#addLoanTerm {
  width: 100%;
  box-shadow: inset 0 0 6px black;
}

#nameBank,
#downPayment,
#initialLoan {
  box-shadow: inset 0 0 6px black;
}

#getCalc {
  box-shadow: 2px 2px black;
  border: 1px solid black;
  border-radius: 20%;
  color: white;
  background-color: rgb(5, 55, 99);
  height: 25px;
}

#btnAddBank {
  margin-bottom: 1px;
  box-shadow: 2px 2px black;
  border: 1px solid black;
  border-radius: 20%;
  width: 40px;
}

.tableColumn {
  width: 15%;
  height: 20px;
  margin-right: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.tableRow {
  width: 95%;
  flex-wrap: wrap;
}

.btnDel {
  width: 40px;
  height: 23px;
  box-shadow: 2px 2px black;
  border: 1px solid black;
  margin-top: 10px;
  align-items: center; /* align vertical */
  margin-left: 3%;
  border-radius: 15%;
}

#calcDiv {
  display: flex;
  justify-content: space-around; /* align horizontal */
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

#mainCalcBlock {
  position: absolute;
  bottom: 120%;
  width: 100%;
  background-color: rgb(5, 55, 99);
  color: white;
}

#calcText {
  position: absolute;
  top: 20%;
}

#toCalcText {
  height: 90%;
  overflow: auto;
  background-color: aliceblue;
  /* border-bottom: 3px solid black;
  border-top: 3px solid black; */
}

#resultTableWrapper {
  height: auto;
  width: 100%;
  background-color: rgb(5, 55, 99);
  color: white;
  font-size: 14px;
  display: none; /*                                         visib    !!!!!!!!!!!!!*/
  margin-bottom: 3px;
}

#resultTable {
  width: 98%;
  box-shadow: inset 0 0 6px black;
  border: 1px solid black;
  margin: 0 auto;
}

.tableResRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.tableResCol {
  width: 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

/* #header,
#main,
#resultTableWrapper,
#mainCalcBlock,
#toCalcText {
  border-left: 3px solid black;
  border-right: 3px solid black;
} */

#btnToHide {
  width: 60px;
  height: 24px;
  text-align: center;
  box-shadow: 2px 2px black;
  border: 1px solid black;
  border-radius: 20%;
  background-color: rgb(5, 55, 99);
  margin-left: 91%;
}
